body 
{
  background-image: url("images/textures/Skypurp.png");
  background-repeat: repeat;
  background-size: 200px;
}

#content_block
{
  width: 75%;
  background-color:black;
  min-height: 90vh;
  margin-left: auto;
  margin-right: auto;
}